.text-centre{
    text-align: center;

}
.bg-red{
    background: red;
}

.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-centre{
    align-items: center;
}
h1{
    color: rgb(255, 255, 255);
    font-weight: 1000px;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Nunito:ital,wght@0,200;0,600;1,200&family=Roboto:wght@300&family=Sacramento&display=swap');

html,body{
    height: 100%;
    width: 100%;
    font-family: 'roboto' , sans-serif;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg
      ,rgb(0, 0, 0) ,rgb(3, 1, 35));
    
}
.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2 px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    color: #ffffff;;
    font-size: 15px;
    font-weight: bolder;
    box-shadow: -8px -8px 15px rgba(172, 139, 139, 0.1);
    background-color: transparent;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #ffffff;
}
.button:hover {
  box-shadow: 0 0 10px 0 #b54038 inset, 0 0 20px 2px #1725a4;
  border: 3px solid #e0e8e8;
}
.row{
    margin: 8px 0;
}

.row input{
    width: 291px;
    font-size: 50px;
    color: #ffffff;
   margin: 0;
   padding: 10px 0;
   border: 1px solid rgb(255, 255, 255);
   border-radius: 5px;
   background: transparent;
   box-shadow: 0px 3px 15px rgbs(84,84,84,
     0.1)

}
#operator{
  color: #ece9e6 ;
  background-color: #105b5bd9;
}
