.text-centre{
    text-align: center;

}
.bg-red{
    background: red;
}

.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-centre{
    align-items: center;
}
h1{
    color: rgb(255, 255, 255);
    font-weight: 1000px;
}